<div class="container d-flex justify-content-between">
  <div class="copy-info d-flex flex-column">
    <img alt="Pvy Icon" src={{userData.variables.images.logoURL}} class="logo">
    <p>Prasanna Vijayan</p>
    &copy; Copyrights {{userData.variables.currentYear}}
  </div>
  <div class="deploy-info">
    Website deployed with netlify.
  </div>
</div>