<div class="d-flex container">
  <div class="d-flex">
    <img src={{userData.variables.images.dpURL}} class="image-round" alt="Profile Pic">
  </div>
  <div class="d-flex flex-column">
    <h1 class="no-margin">Prasanna <span class="red">Vijayan</span></h1>
    <p class="small">Front End Developer</p>
  </div>
</div>
