<div class="d-flex container">
  <div class="d-flex">
    <img src={{userData.variables.images.dpURL}} class="image-round" alt="Profile Pic">
  </div>
  <div class="d-flex">
    <h1 class="merienda">Front End Developer</h1>
  </div>
</div>
