{{#each sectionDetails as | sectionDetail |}}
<div class="section {{sectionDetail.bkg}}">
	<div class="container d-flex flex-column">
			<div class="title">{{fa-icon sectionDetail.icon }} {{t sectionDetail.title}}</div>
			<div class="subsection">{{t sectionDetail.description}}</div>
	</div>
</div>
{{/each}}