@import "ember-cli-bootstrap-4/bootstrap";

@import "theme/style";

// Fonts
html, body {
  height: 100%;
  position: relative;
	outline: 0;
	font-size: 18px;
	margin: 0;
	height: 100%;
	width: 100%;
}

// 404
.height100 {
	height: 100vh;
}

.post-feed {
  margin-top: 0 !important;
}

.site-header-content {
  margin-bottom: 50px;
}

.site-header {
  color: black;
  background: white;
}

.site-footer-content {
  font-size: 16px !important;
}

.post-content {
  font-size: 20px;
  line-height: 40px;
}

.social-link svg {
  fill: $black-color;
}

.post-full-content pre {
  font-size: 17.5px;
  margin: 0;
}
