@import "ember-cli-bootstrap-4/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@import "theme/style";

// Fonts
body {
	outline: 0;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	margin: 0;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: bold;
}

p {
	line-height: 30px;
}

section {
	padding-bottom: 30px;
}

.container {
	min-height: 700px;
	padding-top: 30px;
	padding-bottom: 100px;
}

.bg {
	&-brown {
		background: brown;
	}
}

.no-margin {
	margin: 0 !important;
}

.anchor-menu {
	a {
		margin-left: 20px;
	}
}

.g {
	&-blue {
		color: #4885ed;
	}

	&-green {
		color: #3cba54;
	}

	&-yellow {
		color: #f4c20d;
	}

	&-red {
		color: #db3236;
	}
}

.about {
	span {
		padding-left: 8px;
		padding-right: 8px;
		margin-left: 10px;
		border: 1px solid #f3f3f3;
	}

	.apple {
		background: #000;
		color: #fff;
	}

	.google {
		@extend .g-blue;
	}

	.linux {
		background: #000;
		color: #00ff00;
	}

	.web {
		background: #4885ed;
		color: #fff;
	}

	.flash {
		background: #db3236;
		color: #fff;
	}

	.ps4 {
		background: #3cba54;
		color: #fff;
	}
}

.sticky {
	width: 50px;
  height: 10px;
  position: absolute;
  z-index: -10;
  margin-left: 4px;
  margin-top: 12px;

  &-yellow {
  	background: lighten(#f4c20d, 25%);
  }

  &-blue {
  	background: lighten(#4885ed, 20%);
  	width: 70px;
  }
}

.image {
  width: 100px;
  border-radius: 100px;
  border: 2px solid gray;
}

.padd100 {
	position: absolute;
	right: 0;
	margin-right: 50px;
}

.svg {
	background: url('../assets/pvy.svg') no-repeat;
	background-size: 52px 52px;
	display: block;
	width: 54px;
	height: 54px;
	border: 0 !important;
	position: absolute;
	left: -18px;
}

// Clipboard
.clipboard {
	cursor: pointer;
	color: purple !important;
}
