// HEADER

.header {
	.tooltip {
		padding: 10px;
	}
	
	.nav {
		background: transparent;
	}

	.action-links {
    justify-content: flex-start;
    flex: 2;
    display: flex;
	}

	.social-icons {
		width: 120px;
		@extend .justify-content-between;

		a {
			font-size: 22px;
			color: grayscale(#2C6A93);
		}

		.icon {
			&-instagram {
				&:hover {
					color: #2C6A93;
				}
			}

			&-twitter {
				&:hover {
					color: #00B6F1;
				}	
			}

			&-linkedin {
				&:hover {
					color: #04669A;
				}
			}

			&-envelope {
				&:hover {
					color: #191970;
				}
			}

			&-github {
				&:hover {
					color:#040204;
				}
			}
		}
	}

	.logo {
		height: 50px;
	}

}

.tips-tricks {
	font-size: 64px;
}