.herounit {
	height: 70vh;
	background: rgb(87,134,215);
	background: linear-gradient(90deg, rgba(87,134,215,1) 0%, rgba(43,141,191,1) 35%, rgba(49,156,223,1) 100%);

	h1 {
		color: #fefefe;
	}

	.image-round {
		width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-bottom: 100px;
    border: 5px solid $grey-color;
	}

	.underline {
		text-decoration: underline;
	}
}