.herounit {
	height: 70vh;
	background-color: $black-color;
	background-image: url('../assets/hexagon.png');

	h1 {
		color: #fefefe;
	}

	.image-round {
		width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-bottom: 100px;
    border: 5px solid $grey-color;
	}

	.underline {
		text-decoration: underline;
	}
}