@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

.merienda {
  font-family: "Merienda", sans-serif;
}