@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.merienda {
	font-family: "Merienda", sans-serif;
}