// // style.scss

@import 'fonts';
// // Variables


// Colors
$blue-color  : #74b9ff !default;
$black-color : #343a40 !default;
$dark-black  : #101010 !default;
$grey-color  : #f5f6fa !default;

// // Background Colors
.bg {
	&-black {
		background: $black-color;
		color: $grey-color;
	}
	&-blue {
		background: $blue-color;
	}
	&-grey {
		background: $grey-color;
	}
	&-red {
		background: red;
	}
	&-yellow {
		background: yellow;
	}
	&-green {
		background: green;
	}
}

// Tooltip
.tooltip {

	.arrow {
		display: none;
	}

	&-inner {
		padding: 7px 12px;
		background: $dark-black;
		min-width: 90px;
	}

}

@import '../component-styles/header';
@import '../component-styles/herounit';
@import '../component-styles/section';
@import '../component-styles/footer';