<div class="container d-flex justify-content-center flex-column">
	<section class="">
		<p class="text-small anchor-menu">
			<a href="/" class="no-margin">_About</a>
		</p>
	</section>
	<section class="about">
		<div class="row">
			<div class="col-md-6">
				<p>Yo there, I'm Prasanna Vijayan. <br>Front End Engineer.<br> Currently Working in _Cognizant.<br> I love to fix things and make things look neat and colorful in web.<br> Big Fan of <br>
					<span class="web ml-0">Web.</span>
					<span class="apple">Apple.</span>
					<span class="google">Google.</span>
					<span class="linux">Linux.</span>
					<br><br>
					Loves<br>
					<span class="flash ml-0">TheFlash.</span>
					<span class="ps4">PS4.</span>
				</p>
			</div>
			<div class="col-md-6">
				<p>
					[Twitter] <a href="https://twitter.com/prasannavijayan" target="_blank">@prasannavijayan</a><br>
					[Gmail] <a href="mailto:prasannavijayan446@gmail.com" target="_blank">prasannavijayan446@gmail.com</a>
					<br>
					[Download] <a href="https://tinyurl.com/ybwf2brv" target="_blank">Resume</a><br>
				</p>
				<div class="padd100">
					<span class="svg pl-0 pr-0 ml-0"></span>
					<img src="assets/prasanna.jpeg" class="image">
				</div>
			</div>
		</div>
	</section>
</div> 
